# Elo Merchant Category Recommendation - Aggregation
End date: _2019. february 19._<br/>

This tutorial notebook is the second part of a seriers for [Elo Mechant Category Recommendation](https://www.kaggle.com/c/elo-merchant-category-recommendation) contest organized by Elo, one of the largest payment brands in Brazil. It has built partnerships with merchants in order to offer promotions or discounts to cardholders. The objective of the competition is to identify and serve the most relevant opportunities to individuals, by uncovering signals in customer loyalty. The input files are available from the [download](https://www.kaggle.com/c/elo-merchant-category-recommendation/data) section of the contest:

- **train.csv**,  **test.csv**: list of `card_ids` that can be used for training and testing
- **historical_transactions.csv**: contains up to 3 months' worth of transactions for every card at any of the provided `merchant_ids`
- **new_merchant_transactions.csv**: contains the transactions at new merchants (`merchant_ids` that this particular `card_id` 
has not yet visited) over a period of two months
- **merchants.csv**: contains aggregate information for each `merchant_id` represented in the data set

In [1]:
import os
import gc
import math
import random
import warnings
import datetime
import numpy as np
import pandas as pd

warnings.filterwarnings("ignore")

random.seed(1)
threshold = 0.5

In [2]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Starting memory usage: {:5.2f} MB'.format(start_mem))

    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min >= np.iinfo(np.int8).min and c_max <= np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min >= np.iinfo(np.int16).min and c_max <= np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min >= np.iinfo(np.int32).min and c_max <= np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min >= np.iinfo(np.int64).min and c_max <= np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min >= np.finfo(np.float16).min and c_max <= np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min >= np.finfo(np.float32).min and c_max <= np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Reduced memory usage: {:5.2f} MB ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## Merchants

In [3]:
df_merch = pd.read_csv("input/merchants.csv")
print("{:,} records and {} features in merchant set.".format(df_merch.shape[0], df_merch.shape[1]))

334,696 records and 22 features in merchant set.

In [4]:
df_merch[:3]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0

In [5]:
df_merch['category_1'] = df_merch['category_1'].map({'N': 0, 'Y': 1})
df_merch['category_2'] = pd.to_numeric(df_merch['category_2'])
df_merch['category_4'] = df_merch['category_4'].map({'N': 0, 'Y': 1})
df_merch['most_recent_sales_range'] = df_merch['most_recent_sales_range'].map({'E': 0, 'D': 1, 'C': 2, 'B': 3, 'A': 4})
df_merch['most_recent_purchases_range'] = df_merch['most_recent_purchases_range'].map({'E': 0, 'D': 1, 'C': 2, 'B': 3, 'A': 4})

In [6]:
df_merch[['merchant_id', 'category_1', 'category_2', 'category_4', 'most_recent_sales_range', 'most_recent_purchases_range']][:3]

,merchant_id,category_1,category_2,category_4,most_recent_sales_range,most_recent_purchases_range
0,M_ID_838061e48c,0,1.0,0,0,0
1,M_ID_9339d880ad,0,1.0,0,0,0
2,M_ID_e726bbae1e,0,5.0,0,0,0

In [8]:
df_merch = reduce_mem_usage(df_merch)

Starting memory usage: 51.07 MB
Reduced memory usage: 20.43 MB (60.0% reduction)

## Transactions
### Aggregation

In [9]:
df_hist_trans = pd.read_csv("input/historical_transactions.csv")
print("{:,} records and {} features in historical transactions set.".format(df_hist_trans.shape[0], df_hist_trans.shape[1]))

df_hist_trans = reduce_mem_usage(df_hist_trans)

29,112,361 records and 14 features in historical transactions set.

In [9]:
df_new_trans = pd.read_csv("input/new_merchant_transactions.csv")
print("{:,} records and {} features in new transactions set.".format(df_new_trans.shape[0], df_new_trans.shape[1]))

df_new_trans = reduce_mem_usage(df_new_trans)

1,963,031 records and 14 features in new transactions set.

In [10]:
df_new_trans[:3]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14

In [10]:
df_hist_trans[:3]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37

Mapping categorical variables to integers

In [11]:
df_hist_trans['authorized_flag'] = df_hist_trans['authorized_flag'].map({'N': 0, 'Y': 1})
df_hist_trans['category_1'] = df_hist_trans['category_1'].map({'N': 0, 'Y': 1})
df_hist_trans['category_2'] = pd.to_numeric(df_hist_trans['category_2'])
df_hist_trans['category_3'] = df_hist_trans['category_3'].map({'A': 0, 'B': 1, 'C': 2})

In [11]:
df_new_trans['authorized_flag'] = df_new_trans['authorized_flag'].map({'N': 0, 'Y': 1})
df_new_trans['category_1'] = df_new_trans['category_1'].map({'N': 0, 'Y': 1})
df_new_trans['category_2'] = pd.to_numeric(df_new_trans['category_2'])
df_new_trans['category_3'] = df_new_trans['category_3'].map({'A': 0, 'B': 1, 'C': 2})

Extracting features from date

In [12]:
def create_date_features(df, source_column, preposition):
    df[preposition + '_year'] = df[source_column].dt.year
    df[preposition + '_month'] = df[source_column].dt.month
    df[preposition + '_day'] = df[source_column].dt.day
    df[preposition + '_hour'] = df[source_column].dt.hour
    df[preposition + '_weekofyear'] = df[source_column].dt.weekofyear
    df[preposition + '_dayofweek'] = df[source_column].dt.dayofweek
    df[preposition + '_quarter'] = df[source_column].dt.quarter
    
    return df

In [13]:
df_hist_trans['purchase_date'] = pd.to_datetime(df_hist_trans['purchase_date'])
df_hist_trans = create_date_features(df_hist_trans, 'purchase_date', 'purchase')

In [13]:
df_new_trans['purchase_date'] = pd.to_datetime(df_new_trans['purchase_date'])
df_new_trans = create_date_features(df_new_trans, 'purchase_date', 'purchase')

Merging with merchants

In [17]:
df_hist_trans = pd.merge(df_hist_trans, df_merch, on='merchant_id', how='left', suffixes=['_trans','_merch'])

In [18]:
df_hist_trans[:3]

,authorized_flag,card_id,city_id,category_1_trans,installments,category_3,merchant_category_id_trans,merchant_id,month_lag,purchase_amount,...,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,category_2_merch
0,1,C_ID_4e6213e9bc,88,0,0,0.0,80,M_ID_e020e9b302,-8,-0.703331,...,1.082451,3.0,1.14,1.114135,6.0,1.19,1.156844,12.0,1.0,1.0
1,1,C_ID_4e6213e9bc,88,0,0,0.0,367,M_ID_86ec983688,-7,-0.733128,...,1.052071,3.0,1.06,1.058605,6.0,1.05,1.062087,12.0,1.0,1.0
2,1,C_ID_4e6213e9bc,88,0,0,0.0,80,M_ID_979ed661fc,-6,-0.720386,...,0.974653,3.0,0.98,0.967058,6.0,0.97,0.956668,12.0,1.0,1.0

In [17]:
df_new_trans = pd.merge(df_new_trans, df_merch, on='merchant_id', how='left', suffixes=['_trans','_merch'])

In [18]:
df_new_trans[:3]

,authorized_flag,card_id,city_id,category_1_trans,installments,category_3,merchant_category_id_trans,merchant_id,month_lag,purchase_amount,...,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,category_2_merch
0,1,C_ID_415bb3a509,107,0,1,1.0,307,M_ID_b0c793002c,1,-0.557617,...,1.055253,3.0,0.82,1.158625,6.0,0.81,1.235863,12.0,0.0,1.0
1,1,C_ID_415bb3a509,140,0,1,1.0,307,M_ID_88920c89e8,1,-0.569336,...,1.081037,3.0,1.13,1.088138,6.0,1.13,1.102611,12.0,0.0,1.0
2,1,C_ID_415bb3a509,330,0,1,1.0,507,M_ID_ad5237ef6b,2,-0.551270,...,1.055359,3.0,1.03,1.055851,6.0,1.05,1.063897,12.0,0.0,1.0

Extra aggregator functions

In [19]:
def mode(series):
    ''' Return the mode of the series '''
    if len(series.mode()) > 0:
        return series.mode().iloc[0]
    else:
        return np.nan

def nancnt(series):
    ''' Returns the count of NaN values '''
    return series.isnull().sum()

def nanperc(series):
    ''' Returns the percentile of NaN values '''
    return 100 * series.isnull().sum() / len(series)

In [20]:
def aggregate_transactions(df, prefix):  
    agg_funcs = {
        'authorized_flag': ['sum', 'mean'],
        'active_months_lag3': ['sum', 'mean'],
        'active_months_lag6': ['sum', 'mean'],
        'active_months_lag12': ['sum', 'mean'],
        
        'avg_sales_lag3': ['sum', 'mean'],
        'avg_sales_lag6': ['sum', 'mean'], 
        'avg_sales_lag12': ['sum', 'mean'],
        
        'avg_purchases_lag3': ['sum', 'mean'], 
        'avg_purchases_lag6': ['sum', 'mean'], 
        'avg_purchases_lag12': ['sum', 'mean'], 

        'category_1_trans': ['sum', 'mean'],
        'category_1_merch': ['sum', 'mean'],
        'category_2_trans': ['sum', 'mean', mode, nancnt, nanperc],
        'category_2_merch': ['sum', 'mean', mode, nancnt, nanperc],
        'category_3': ['sum', 'mean', mode, nancnt, nanperc],
        'category_4': ['sum', 'mean'], 
        
        'city_id': ['nunique', nancnt, nanperc],
        
        'installments': ['sum', 'median', 'mean', 'max', 'min', 'std', mode, nancnt, nanperc],

        'merchant_id': ['nunique', nancnt, nanperc],
        'merchant_category_id_trans': ['nunique', nancnt, nanperc],
        'merchant_group_id': ['nunique', nancnt, nanperc],
        'merchant_category_id_merch': ['nunique', nancnt, nanperc],
        'month_lag': ['min', 'max', 'mean'],
        
        'most_recent_sales_range': ['sum', 'mean', 'max', 'min', 'std', mode],
        'most_recent_purchases_range': ['sum', 'mean', 'max', 'min', 'std', mode],
        
        'numerical_1': ['mean', 'median', 'max', 'min', 'std', mode],
        'numerical_2': ['mean', 'median', 'max', 'min', 'std', mode],

        'state_id': ['nunique', nancnt, nanperc],
        'subsector_id_trans': ['nunique', nancnt, nanperc],
        'subsector_id_merch': ['nunique', nancnt, nanperc],
        
        'purchase_amount': ['sum', 'mean', 'max', 'min', 'std', mode],
        'purchase_year': ['mean', 'median', 'max', 'min', 'std', mode],
        'purchase_month': ['mean', 'median', 'max', 'min', 'std', mode],
        'purchase_day': ['mean', 'median', 'max', 'min', 'std', mode],
        'purchase_hour': ['mean', 'median', 'max', 'min', 'std', mode],
        'purchase_weekofyear': ['mean', 'median', 'max', 'min', 'std', mode],
        'purchase_dayofweek': ['mean', 'median', 'max', 'min', 'std', mode],
        'purchase_quarter': ['mean', 'median', 'max', 'min', 'std', mode]
    }
    df_agg = df.groupby('card_id').agg(agg_funcs)
    df_agg.columns = [prefix + '_'.join(col).strip() for col in df_agg.columns.values]
    df_agg.reset_index(inplace=True)

    df = (df_agg.groupby('card_id').size().reset_index(name='{}transactions_count'.format(prefix)))
    df_agg = pd.merge(df, df_agg, on='card_id', how='left')

    return df_agg

In [21]:
df_new_trans = aggregate_transactions(df_new_trans, prefix='new_')

In [22]:
df_new_trans[:3]

,card_id,new_transactions_count,new_authorized_flag_sum,new_authorized_flag_mean,new_active_months_lag3_sum,new_active_months_lag3_mean,new_active_months_lag6_sum,new_active_months_lag6_mean,new_active_months_lag12_sum,new_active_months_lag12_mean,...,new_purchase_dayofweek_max,new_purchase_dayofweek_min,new_purchase_dayofweek_std,new_purchase_dayofweek_mode,new_purchase_quarter_mean,new_purchase_quarter_median,new_purchase_quarter_max,new_purchase_quarter_min,new_purchase_quarter_std,new_purchase_quarter_mode
0,C_ID_00007093c1,1,3,1,9.0,3.0,18.0,6.0,31.0,10.333333,...,1,0,0.577350,0,2.000000,2.0,2,2,0.000000,2
1,C_ID_0001238066,1,27,1,78.0,3.0,156.0,6.0,304.0,11.692308,...,6,0,1.764642,4,1.333333,1.0,2,1,0.480384,1
2,C_ID_0001506ef0,1,2,1,3.0,3.0,6.0,6.0,12.0,12.000000,...,4,3,0.707107,3,1.000000,1.0,1,1,0.000000,1

In [ ]:
df_new_trans.to_csv('input/trans_merch_new_agg.csv')

In [23]:
df_hist_trans = reduce_mem_usage(df_hist_trans)

Starting memory usage: 5236.07 MB
Reduced memory usage: 3558.21 MB (32.0% reduction)

In [24]:
df_hist_trans = aggregate_transactions(df_hist_trans, prefix='hist_')

In [25]:
df_hist_trans[:3]

,card_id,hist_transactions_count,hist_authorized_flag_sum,hist_authorized_flag_mean,hist_active_months_lag3_sum,hist_active_months_lag3_mean,hist_active_months_lag6_sum,hist_active_months_lag6_mean,hist_active_months_lag12_sum,hist_active_months_lag12_mean,...,hist_purchase_dayofweek_max,hist_purchase_dayofweek_min,hist_purchase_dayofweek_std,hist_purchase_dayofweek_mode,hist_purchase_quarter_mean,hist_purchase_quarter_median,hist_purchase_quarter_max,hist_purchase_quarter_min,hist_purchase_quarter_std,hist_purchase_quarter_mode
0,C_ID_00007093c1,1,114.0,0.765101,447.0,3.0,894.0,6.0,1776.0,11.921875,...,6,0,1.869568,0,2.476510,2.0,4,1,1.100270,2
1,C_ID_0001238066,1,120.0,0.975610,369.0,3.0,738.0,6.0,1476.0,12.000000,...,6,0,1.909313,5,2.764228,4.0,4,1,1.471485,4
2,C_ID_0001506ef0,1,64.0,0.941176,204.0,3.0,408.0,6.0,806.0,11.851562,...,6,0,1.787431,5,2.558824,3.0,4,1,1.407680,4

In [26]:
df_hist_trans.to_csv('input/trans_merch_hist_agg.csv')

### Loading

In [9]:
df_new_trans = pd.read_csv("input/trans_merch_new_agg.csv", index_col=0)
df_new_trans = reduce_mem_usage(df_new_trans)

df_hist_trans = pd.read_csv("input/trans_merch_hist_agg.csv", index_col=0)
df_hist_trans = reduce_mem_usage(df_hist_trans)

Starting memory usage: 354.01 MB
Reduced memory usage: 84.35 MB (76.2% reduction)
Starting memory usage: 397.39 MB
Reduced memory usage: 112.08 MB (71.8% reduction)

In [10]:
df_new_trans[:3]

,card_id,new_transactions_count,new_authorized_flag_sum,new_authorized_flag_mean,new_active_months_lag3_sum,new_active_months_lag3_mean,new_active_months_lag6_sum,new_active_months_lag6_mean,new_active_months_lag12_sum,new_active_months_lag12_mean,...,new_purchase_dayofweek_max,new_purchase_dayofweek_min,new_purchase_dayofweek_std,new_purchase_dayofweek_mode,new_purchase_quarter_mean,new_purchase_quarter_median,new_purchase_quarter_max,new_purchase_quarter_min,new_purchase_quarter_std,new_purchase_quarter_mode
0,C_ID_00007093c1,1,3,1,9.0,3.0,18.0,6.0,31.0,10.335938,...,1,0,0.577148,0,2.000000,2.0,2,2,0.000000,2
1,C_ID_0001238066,1,27,1,78.0,3.0,156.0,6.0,304.0,11.695312,...,6,0,1.764648,4,1.333008,1.0,2,1,0.480469,1
2,C_ID_0001506ef0,1,2,1,3.0,3.0,6.0,6.0,12.0,12.000000,...,4,3,0.707031,3,1.000000,1.0,1,1,0.000000,1

In [11]:
df_hist_trans[:3]

,card_id,hist_transactions_count,hist_authorized_flag_sum,hist_authorized_flag_mean,hist_active_months_lag3_sum,hist_active_months_lag3_mean,hist_active_months_lag6_sum,hist_active_months_lag6_mean,hist_active_months_lag12_sum,hist_active_months_lag12_mean,...,hist_purchase_dayofweek_max,hist_purchase_dayofweek_min,hist_purchase_dayofweek_std,hist_purchase_dayofweek_mode,hist_purchase_quarter_mean,hist_purchase_quarter_median,hist_purchase_quarter_max,hist_purchase_quarter_min,hist_purchase_quarter_std,hist_purchase_quarter_mode
0,C_ID_00007093c1,1,114.0,0.765137,447.0,3.0,894.0,6.0,1776.0,11.921875,...,6,0,1.869141,0,2.476562,2.0,4,1,1.100586,2
1,C_ID_0001238066,1,120.0,0.975586,369.0,3.0,738.0,6.0,1476.0,12.000000,...,6,0,1.909180,5,2.763672,4.0,4,1,1.471680,4
2,C_ID_0001506ef0,1,64.0,0.941406,204.0,3.0,408.0,6.0,806.0,11.851562,...,6,0,1.787109,5,2.558594,3.0,4,1,1.407227,4

## Train and test data

In [12]:
df_train = pd.read_csv("input/train.csv")
df_train = reduce_mem_usage(df_train)

df_test = pd.read_csv("input/test.csv")
df_test = reduce_mem_usage(df_test)

print("{:,} records and {} features in train set.".format(df_train.shape[0], df_train.shape[1]))
print("{:,} records and {} features in test set.".format(df_test.shape[0], df_test.shape[1]))

Starting memory usage:  9.24 MB
Reduced memory usage:  4.04 MB (56.2% reduction)
Starting memory usage:  4.72 MB
Reduced memory usage:  2.24 MB (52.5% reduction)
201,917 records and 6 features in train set.
123,623 records and 5 features in test set.

In [13]:
df_train[:3]

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820312
1,2017-01,C_ID_3d0044924f,4,1,0,0.392822
2,2016-08,C_ID_d639edf6cd,2,2,0,0.687988

In [14]:
df_test[:3]

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1

## Merging

Join the data of the merchants and the transactions to the training and test set.

In [15]:
df_train = pd.merge(df_train, df_hist_trans, on='card_id', how='left')
df_test = pd.merge(df_test, df_hist_trans, on='card_id', how='left')

df_train = pd.merge(df_train, df_new_trans, on='card_id', how='left')
df_test = pd.merge(df_test, df_new_trans, on='card_id', how='left')

In [16]:
del df_hist_trans
del df_new_trans
gc.collect()

43

In [17]:
df_train[:3]

,first_active_month,card_id,feature_1,feature_2,feature_3,target,hist_transactions_count,hist_authorized_flag_sum,hist_authorized_flag_mean,hist_active_months_lag3_sum,...,new_purchase_dayofweek_max,new_purchase_dayofweek_min,new_purchase_dayofweek_std,new_purchase_dayofweek_mode,new_purchase_quarter_mean,new_purchase_quarter_median,new_purchase_quarter_max,new_purchase_quarter_min,new_purchase_quarter_std,new_purchase_quarter_mode
0,2017-06,C_ID_92a2005557,5,2,1,-0.820312,1,252.0,0.951172,777.0,...,6.0,0.0,2.029297,4.0,1.478516,1.0,2.0,1.0,0.510742,1.0
1,2017-01,C_ID_3d0044924f,4,1,0,0.392822,1,354.0,0.969727,1095.0,...,4.0,0.0,1.643555,0.0,1.000000,1.0,1.0,1.0,0.000000,1.0
2,2016-08,C_ID_d639edf6cd,2,2,0,0.687988,1,42.0,0.954590,132.0,...,5.0,5.0,NaN,5.0,2.000000,2.0,2.0,2.0,NaN,2.0

In [18]:
df_test[:3]

,first_active_month,card_id,feature_1,feature_2,feature_3,hist_transactions_count,hist_authorized_flag_sum,hist_authorized_flag_mean,hist_active_months_lag3_sum,hist_active_months_lag3_mean,...,new_purchase_dayofweek_max,new_purchase_dayofweek_min,new_purchase_dayofweek_std,new_purchase_dayofweek_mode,new_purchase_quarter_mean,new_purchase_quarter_median,new_purchase_quarter_max,new_purchase_quarter_min,new_purchase_quarter_std,new_purchase_quarter_mode
0,2017-04,C_ID_0ab67a22ab,3,3,1,1,47.0,0.662109,213.0,3.0,...,5.0,2.0,1.527344,2.0,1.000000,1.0,1.0,1.0,0.000000,1.0
1,2017-01,C_ID_130fd0cbdd,2,3,0,1,77.0,0.987305,234.0,3.0,...,6.0,0.0,2.359375,0.0,1.400391,1.0,2.0,1.0,0.516602,1.0
2,2017-08,C_ID_b709037bc5,5,1,1,1,9.0,0.692383,39.0,3.0,...,3.0,1.0,1.414062,1.0,1.000000,1.0,1.0,1.0,0.000000,1.0

In [29]:
list(df_train.columns)

['first_active_month',
 'card_id',
 'feature_1',
 'feature_2',
 'feature_3',
 'target',
 'hist_transactions_count',
 'hist_authorized_flag_sum',
 'hist_authorized_flag_mean',
 'hist_active_months_lag3_sum',
 'hist_active_months_lag3_mean',
 'hist_active_months_lag6_sum',
 'hist_active_months_lag6_mean',
 'hist_active_months_lag12_sum',
 'hist_active_months_lag12_mean',
 'hist_avg_sales_lag3_sum',
 'hist_avg_sales_lag3_mean',
 'hist_avg_sales_lag6_sum',
 'hist_avg_sales_lag6_mean',
 'hist_avg_sales_lag12_sum',
 'hist_avg_sales_lag12_mean',
 'hist_avg_purchases_lag3_sum',
 'hist_avg_purchases_lag3_mean',
 'hist_avg_purchases_lag6_sum',
 'hist_avg_purchases_lag6_mean',
 'hist_avg_purchases_lag12_sum',
 'hist_avg_purchases_lag12_mean',
 'hist_category_1_trans_sum',
 'hist_category_1_trans_mean',
 'hist_category_1_merch_sum',
 'hist_category_1_merch_mean',
 'hist_category_2_trans_sum',
 'hist_category_2_trans_mean',
 'hist_category_2_trans_mode',
 'hist_category_2_trans_nancnt',
 'hist_category_2_trans_nanperc',
 'hist_category_2_merch_sum',
 'hist_category_2_merch_mean',
 'hist_category_2_merch_mode',
 'hist_category_2_merch_nancnt',
 'hist_category_2_merch_nanperc',
 'hist_category_3_sum',
 'hist_category_3_mean',
 'hist_category_3_mode',
 'hist_category_3_nancnt',
 'hist_category_3_nanperc',
 'hist_category_4_sum',
 'hist_category_4_mean',
 'hist_city_id_nunique',
 'hist_city_id_mode',
 'hist_city_id_nancnt',
 'hist_city_id_nanperc',
 'hist_installments_sum',
 'hist_installments_median',
 'hist_installments_mean',
 'hist_installments_max',
 'hist_installments_min',
 'hist_installments_std',
 'hist_installments_mode',
 'hist_installments_nancnt',
 'hist_installments_nanperc',
 'hist_merchant_id_nunique',
 'hist_merchant_id_mode',
 'hist_merchant_id_nancnt',
 'hist_merchant_id_nanperc',
 'hist_merchant_category_id_trans_nunique',
 'hist_merchant_category_id_trans_mode',
 'hist_merchant_category_id_trans_nancnt',
 'hist_merchant_category_id_trans_nanperc',
 'hist_merchant_group_id_nunique',
 'hist_merchant_group_id_mode',
 'hist_merchant_group_id_nancnt',
 'hist_merchant_group_id_nanperc',
 'hist_merchant_category_id_merch_nunique',
 'hist_merchant_category_id_merch_mode',
 'hist_merchant_category_id_merch_nancnt',
 'hist_merchant_category_id_merch_nanperc',
 'hist_month_lag_min',
 'hist_month_lag_max',
 'hist_month_lag_mean',
 'hist_most_recent_sales_range_sum',
 'hist_most_recent_sales_range_mean',
 'hist_most_recent_sales_range_max',
 'hist_most_recent_sales_range_min',
 'hist_most_recent_sales_range_std',
 'hist_most_recent_sales_range_mode',
 'hist_most_recent_purchases_range_sum',
 'hist_most_recent_purchases_range_mean',
 'hist_most_recent_purchases_range_max',
 'hist_most_recent_purchases_range_min',
 'hist_most_recent_purchases_range_std',
 'hist_most_recent_purchases_range_mode',
 'hist_numerical_1_mean',
 'hist_numerical_1_median',
 'hist_numerical_1_max',
 'hist_numerical_1_min',
 'hist_numerical_1_std',
 'hist_numerical_1_mode',
 'hist_numerical_2_mean',
 'hist_numerical_2_median',
 'hist_numerical_2_max',
 'hist_numerical_2_min',
 'hist_numerical_2_std',
 'hist_numerical_2_mode',
 'hist_state_id_nunique',
 'hist_state_id_mode',
 'hist_state_id_nancnt',
 'hist_state_id_nanperc',
 'hist_subsector_id_trans_nunique',
 'hist_subsector_id_trans_mode',
 'hist_subsector_id_trans_nancnt',
 'hist_subsector_id_trans_nanperc',
 'hist_subsector_id_merch_nunique',
 'hist_subsector_id_merch_mode',
 'hist_subsector_id_merch_nancnt',
 'hist_subsector_id_merch_nanperc',
 'hist_purchase_amount_sum',
 'hist_purchase_amount_mean',
 'hist_purchase_amount_max',
 'hist_purchase_amount_min',
 'hist_purchase_amount_std',
 'hist_purchase_amount_mode',
 'hist_purchase_year_mean',
 'hist_purchase_year_median',
 'hist_purchase_year_max',
 'hist_purchase_year_min',
 'hist_purchase_year_std',
 'hist_purchase_year_mode',
 'hist_purchase_month_mean',
 'hist_purchase_month_median',
 'hist_purchase_month_max',
 'hist_purchase_month_min',
 'hist_purchase_month_std',
 'hist_purchase_month_mode',
 'hist_purchase_day_mean',
 'hist_purchase_day_median',
 'hist_purchase_day_max',
 'hist_purchase_day_min',
 'hist_purchase_day_std',
 'hist_purchase_day_mode',
 'hist_purchase_hour_mean',
 'hist_purchase_hour_median',
 'hist_purchase_hour_max',
 'hist_purchase_hour_min',
 'hist_purchase_hour_std',
 'hist_purchase_hour_mode',
 'hist_purchase_weekofyear_mean',
 'hist_purchase_weekofyear_median',
 'hist_purchase_weekofyear_max',
 'hist_purchase_weekofyear_min',
 'hist_purchase_weekofyear_std',
 'hist_purchase_weekofyear_mode',
 'hist_purchase_dayofweek_mean',
 'hist_purchase_dayofweek_median',
 'hist_purchase_dayofweek_max',
 'hist_purchase_dayofweek_min',
 'hist_purchase_dayofweek_std',
 'hist_purchase_dayofweek_mode',
 'hist_purchase_quarter_mean',
 'hist_purchase_quarter_median',
 'hist_purchase_quarter_max',
 'hist_purchase_quarter_min',
 'hist_purchase_quarter_std',
 'hist_purchase_quarter_mode',
 'new_transactions_count',
 'new_authorized_flag_sum',
 'new_authorized_flag_mean',
 'new_active_months_lag3_sum',
 'new_active_months_lag3_mean',
 'new_active_months_lag6_sum',
 'new_active_months_lag6_mean',
 'new_active_months_lag12_sum',
 'new_active_months_lag12_mean',
 'new_avg_sales_lag3_sum',
 'new_avg_sales_lag3_mean',
 'new_avg_sales_lag6_sum',
 'new_avg_sales_lag6_mean',
 'new_avg_sales_lag12_sum',
 'new_avg_sales_lag12_mean',
 'new_avg_purchases_lag3_sum',
 'new_avg_purchases_lag3_mean',
 'new_avg_purchases_lag6_sum',
 'new_avg_purchases_lag6_mean',
 'new_avg_purchases_lag12_sum',
 'new_avg_purchases_lag12_mean',
 'new_category_1_trans_sum',
 'new_category_1_trans_mean',
 'new_category_1_merch_sum',
 'new_category_1_merch_mean',
 'new_category_2_trans_sum',
 'new_category_2_trans_mean',
 'new_category_2_trans_mode',
 'new_category_2_trans_nancnt',
 'new_category_2_trans_nanperc',
 'new_category_2_merch_sum',
 'new_category_2_merch_mean',
 'new_category_2_merch_mode',
 'new_category_2_merch_nancnt',
 'new_category_2_merch_nanperc',
 'new_category_3_sum',
 'new_category_3_mean',
 'new_category_3_mode',
 'new_category_3_nancnt',
 'new_category_3_nanperc',
 'new_category_4_sum',
 'new_category_4_mean',
 'new_city_id_nunique',
 'new_city_id_mode',
 'new_city_id_nancnt',
 'new_city_id_nanperc',
 'new_installments_sum',
 'new_installments_median',
 'new_installments_mean',
 'new_installments_max',
 'new_installments_min',
 'new_installments_std',
 'new_installments_mode',
 'new_installments_nancnt',
 'new_installments_nanperc',
 'new_merchant_id_nunique',
 'new_merchant_id_mode',
 'new_merchant_id_nancnt',
 'new_merchant_id_nanperc',
 'new_merchant_category_id_trans_nunique',
 'new_merchant_category_id_trans_mode',
 'new_merchant_category_id_trans_nancnt',
 'new_merchant_category_id_trans_nanperc',
 'new_merchant_group_id_nunique',
 'new_merchant_group_id_mode',
 'new_merchant_group_id_nancnt',
 'new_merchant_group_id_nanperc',
 'new_merchant_category_id_merch_nunique',
 'new_merchant_category_id_merch_mode',
 'new_merchant_category_id_merch_nancnt',
 'new_merchant_category_id_merch_nanperc',
 'new_month_lag_min',
 'new_month_lag_max',
 'new_month_lag_mean',
 'new_most_recent_sales_range_sum',
 'new_most_recent_sales_range_mean',
 'new_most_recent_sales_range_max',
 'new_most_recent_sales_range_min',
 'new_most_recent_sales_range_std',
 'new_most_recent_sales_range_mode',
 'new_most_recent_purchases_range_sum',
 'new_most_recent_purchases_range_mean',
 'new_most_recent_purchases_range_max',
 'new_most_recent_purchases_range_min',
 'new_most_recent_purchases_range_std',
 'new_most_recent_purchases_range_mode',
 'new_numerical_1_mean',
 'new_numerical_1_median',
 'new_numerical_1_max',
 'new_numerical_1_min',
 'new_numerical_1_std',
 'new_numerical_1_mode',
 'new_numerical_2_mean',
 'new_numerical_2_median',
 'new_numerical_2_max',
 'new_numerical_2_min',
 'new_numerical_2_std',
 'new_numerical_2_mode',
 'new_state_id_nunique',
 'new_state_id_mode',
 'new_state_id_nancnt',
 'new_state_id_nanperc',
 'new_subsector_id_trans_nunique',
 'new_subsector_id_trans_mode',
 'new_subsector_id_trans_nancnt',
 'new_subsector_id_trans_nanperc',
 'new_subsector_id_merch_nunique',
 'new_subsector_id_merch_mode',
 'new_subsector_id_merch_nancnt',
 'new_subsector_id_merch_nanperc',
 'new_purchase_amount_sum',
 'new_purchase_amount_mean',
 'new_purchase_amount_max',
 'new_purchase_amount_min',
 'new_purchase_amount_std',
 'new_purchase_amount_mode',
 'new_purchase_year_mean',
 'new_purchase_year_median',
 'new_purchase_year_max',
 'new_purchase_year_min',
 'new_purchase_year_std',
 'new_purchase_year_mode',
 'new_purchase_month_mean',
 'new_purchase_month_median',
 'new_purchase_month_max',
 'new_purchase_month_min',
 'new_purchase_month_std',
 'new_purchase_month_mode',
 'new_purchase_day_mean',
 'new_purchase_day_median',
 'new_purchase_day_max',
 'new_purchase_day_min',
 'new_purchase_day_std',
 'new_purchase_day_mode',
 'new_purchase_hour_mean',
 'new_purchase_hour_median',
 'new_purchase_hour_max',
 'new_purchase_hour_min',
 'new_purchase_hour_std',
 'new_purchase_hour_mode',
 'new_purchase_weekofyear_mean',
 'new_purchase_weekofyear_median',
 'new_purchase_weekofyear_max',
 'new_purchase_weekofyear_min',
 'new_purchase_weekofyear_std',
 'new_purchase_weekofyear_mode',
 'new_purchase_dayofweek_mean',
 'new_purchase_dayofweek_median',
 'new_purchase_dayofweek_max',
 'new_purchase_dayofweek_min',
 'new_purchase_dayofweek_std',
 'new_purchase_dayofweek_mode',
 'new_purchase_quarter_mean',
 'new_purchase_quarter_median',
 'new_purchase_quarter_max',
 'new_purchase_quarter_min',
 'new_purchase_quarter_std',
 'new_purchase_quarter_mode']

## To finish section

Then extract the day of the week from the day of the date. The `pd.Categorical` function sets the order of the days of the week.

In [30]:
'''def get_weekday(date_string):
    date = datetime.datetime.strptime(date_string, '%Y-%m-%d')
    return calendar.day_name[date.weekday()]

df_new_trans['purchase_weekday'] = df_new_trans['purchase_date'].apply(lambda x: get_weekday(x))'''

day_labels = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df_train['hist_purchase_weekofyear_mode'] = pd.Categorical(df_train['hist_purchase_weekofyear_mode'], categories = day_labels, ordered = True)

In [ ]:
ax = sns.lineplot(x = "hist_purchase_weekofyear_mode", y = "target", markers = False, dashes = True, data = df_train)
plt.xticks(rotation = 45)
ax.set_title('Target Variable Changes over Purchase Week')
ax.set_xlabel('Purchase Weekday')

The plot above shows the target changes over the week.

The default behavior in Seaborn is to aggregate the multiple measurements at each x value by plotting the mean and the 95% confidence interval around the mean. (More info on [Aggregation and representing uncertainty](https://seaborn.pydata.org/tutorial/relational.html#aggregation-and-representing-uncertainty))

In [ ]:
ax = sns.lineplot(x = "purchase_month", y = "target", markers = True, dashes = False, data = data)
plt.xticks(rotation = 45)
ax.set_title('Target Variable Changes over Purchase Month')
ax.set_xlabel('Purchase Month')

The plot shows the target changes over the month.

In [ ]:
data['first_active_year'] = data['first_active_month'].str[:4]

year_labels = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
data['first_active_year'] = pd.Categorical(data['first_active_year'], categories = year_labels, ordered = True)

In [ ]:
ax = sns.lineplot(x = "first_active_year", y = "target", markers = True, dashes = False, data = data)
plt.xticks(rotation = 45)
ax.set_title('Target Variable Changes over the First Active Year')
ax.set_xlabel('First Active Year')

The plot shows the target changes over the first active year.

In [ ]:
ax = sns.lineplot(x = "first_active_month2", y = "target", markers = True, dashes = False, data = data)
plt.xticks(rotation = 45)
ax.set_title('Target Variable Changes over the First Active Month')
ax.set_xlabel('First Active Month')

The plot showst the target changes over the first active month.

In [ ]:
data['temp'] = data['purchase_time'].str.split(':')

def get_session(time_list):
    time_list[0] = int(time_list[0])
    if time_list[0] > 4 and time_list[0] < 12:
        return 'Morning'
    elif time_list[0] >= 12 and time_list[0] < 17:
        return 'Afternoon'
    elif time_list[0] >= 17 and time_list[0] < 21:
        return 'Evening'
    else:
        return 'Night'
    
data['purchase_session'] = data['temp'].apply(lambda x: get_session(x))

session_labels = ['Morning', 'Afternoon', 'Evening', 'Night']
data['purchase_session'] = pd.Categorical(data['purchase_session'], categories = session_labels, ordered = True)
data.drop('temp', axis = 1, inplace=True)

In [ ]:
ax = sns.lineplot(x = "purchase_session", y = "target", markers = True, dashes = False, data = data)
plt.xticks(rotation = 45)
ax.set_title('Target Variable Changes over Purchase Time of Day')
ax.set_xlabel('Purchase Time of Day')

The plot shows the target changes over the purchase time of day.

In [ ]:
ax = sns.catplot(x='purchase_weekday', y='target', hue='purchase_session', data=data, kind='bar', height=5, aspect=2)
ax.despine(left = True)
plt.xticks(rotation = 45)
ax.set_ylabels("target")
ax.set_xlabels('Weekday')

In [ ]:
def get_time_of_month_cat(date):
    date_temp = date.split('-')
    if int(date_temp[2]) < 10:
        time_of_month = 'Beginning'
    elif int(date_temp[2]) >= 10 and int(date_temp[2]) < 20:
        time_of_month = 'Middle'
    else:
        time_of_month = 'End'
    return time_of_month

data['time_of_month_cat'] = data['purchase_date'].apply(lambda x: get_time_of_month_cat(x))

tof_labels = ['Beginning', 'Middle', 'End']
data['time_of_month_cat'] = pd.Categorical(data['time_of_month_cat'], categories=tof_labels, ordered=True)

In [ ]:
ax = sns.catplot(x='purchase_month', y='target', hue='time_of_month_cat', data=data, kind='bar', height=5, aspect=2)
ax.despine(left = True)
plt.xticks(rotation = 45)
ax.set_ylabels("Target")
ax.set_xlabels('Purchase Time of Month')

The plot shows the target changes over the purchase time of month.

In [ ]:
def get_end_of_month(date):
    date_temp = date.split('-')
    if int(date_temp[2]) >= 25:
        end_of_month = 'Yes'
    else:
        end_of_month = 'No'
    return end_of_month

data['end_of_month'] = data['purchase_date'].apply(lambda x: get_end_of_month(x))

ax = sns.barplot(x = 'end_of_month', y = 'target', data = data)